@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  flex: 1;  
  background: lightgoldenrodyellow
  }

  .done {
  text-decoration: line-through;
  }

  #container {
  display: flex;
  flex-direction: column;
  margin: 50px; 
  }

  #user-input {
  border-radius: 4px;
  border: none;
  padding: 8px 24px;
  display: block;
  width: min-content;
	white-space: nowrap;
  }

  button {
  border-radius: 8px;
  padding: 4px 16px;
  border: none;
  margin-top: 15px;
  cursor: pointer;
	transition: all 0.2s;
	display: block;
	width: min-content;
	white-space: nowrap;
  background-color: seagreen;
  color: beige;
  }