@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: rgb(149, 149, 3)
  }

  .done {
  text-decoration: line-through;
  }

  #container {
  color: rgb(225, 218, 218);
  display: inline-block;
  flex-direction: column;
  margin: 8px 16px; 
  }

  #user-input {
  text-align: left;
  border-radius: 2px;
  border: none;
  padding: 8px 8px;
  display: inline-block;
  width: 55%;
  }

  button {
  border-radius: 8px;
  padding: 4px 14px;
  border: none;
  margin-top: 15px;
  margin-left: 5px;
  cursor: pointer;
	transition: all 0.2s;
  background-color: seagreen;
  color: beige;
  }